/*
Shaun M Thompson
VFW 1302 - Project 2
*/

body{background-color:#b0c4de;font-family: Arial, Helvetica, san-serif;width: 571px;margin: auto;padding: 10px}
#site-wrapper{no-repeat;height: 885px;padding-top:}
#content{width: 480px;height; 690px;overflow; scroll;}

h1{
	margin: 0px;
	border: 0px;
	padding: 10px;
	text-align: center;
	font-style: italic;
	color: #FFFFFF;
}

p{
	color: #000000;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
}
	
footer{
	color: #000000;
	font: "Times New Roman", Times;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

input{
	background-color: #FFFFFF;
}

input:focus{
	border-color: blue;
	background-color: #888888;
}

textarea:focus{
	border-color: blue;
	background-color: #888888;
}

select:focus{
	border-color: blue;
	background-color: #888888;
}
	

li{
	display: block;
	border: 0px;
	text-align: left;
	font-size: 16px;
}

a{
	color: #000000;
}

a:hover{
	color: #FFFFFF;
	outline: 0px;
}


	